/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 520px;
    text-align: center;
    width: 100%; /* Ensures full width on mobile */
    padding: 0 20px; /* Optional padding to control spacing */
    box-sizing: border-box; /* Ensures padding is included in width calculation */
}

.container img {
    max-width: 100%;
    height: auto;
}

.container p {
    /* Add any additional styles */
}

@media (max-width: 768px) {
    /* Adjust for tablets and smaller screens */
    .container {
        max-width: 100%; /* Full width on tablets and smaller */
    }
}
