/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center; /* Centers vertically */
    height: 100vh; /* Ensures full height on the viewport */
    margin: 0; /* Removes default body margin */
}

.container {
    max-width: 520px;
    text-align: center;
}

.container img {
    max-width: 100%;
    height: auto; /* Ensures image aspect ratio is maintained */
}

.container p {
    /* Add any additional styles */
}
